.sub-information {
      margin-top: 6rem;
      @media (min-width: 768px) {
      margin-top: 16rem;
      }
  }
  .sub-information-item {
    display: flex;
    justify-content: flex-start;
    padding: 1.6rem 0;
    border-top: solid;
    border-top-color: rgba(0, 54, 86, 0.1);
    border-width: 1px;
  }
  .sub-information-items {
    .sub-information-item:nth-child(6) {
      border-bottom: solid;
      border-bottom-color: rgba(0, 54, 86, 0.1);
      border-width: 1px;
      margin-bottom:4.8rem;
      @media (min-width: 768px) {
        margin-bottom:16rem;
      }
    }
  }
  .sub-information-content {
    @media (min-width: 768px) {
      display: none;
    }
    margin-left:1.2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }

  .sub-information-picture1 {
    width: 40vw;
    height: 10.7rem;
    background-image: url(../images/information/information_picture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-width: 768px) {
      width: 15%;
    }
  }
  .sub-information-picture2 {
    width: 40vw;
    height: 10.7rem;
    background-image: url(../images/information/information-picture2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-width: 768px) {
      width: 15%;
    }
  }
  .sub-information-picture3 {
    width: 40vw;
    height: 10.7rem;
    background-image: url(../images/information/information-picture3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-width: 768px) {
      width: 15%;
    }
  }
  .sub-information-picture4 {
    width: 40vw;
    height: 10.7rem;
    background-image: url(../images/information/information-picture4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-width: 768px) {
      width: 15%;
    }
  }
  .sub-information-picture5 {
    width: 40vw;
    height: 10.7rem;
    background-image: url(../images/information/information-picture5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-width: 768px) {
      width: 15%;
    }
  }
  .sub-information-picture6 {
    width: 40vw;
    height: 10.7rem;
    background-image: url(../images/information/information-picture6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-width: 768px) {
      width: 15%;
    }
  }
  .pc-sub-information-content {
    width:85%;
    margin-left:1.2rem;
    p {
      margin: 0;
      margin-top:3%;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .sub-date {
    justify-content: flex-end;
    font-weight: 100;
    color: $gray;
    font-size: 1.2rem;
    margin-right: 1.2rem;
  }
